
  /*
*{
  margin: 0px;
}
*/
  body {
    margin: 0 10%;
  }

  .img-banner{
    position: relative;  /*Thiết lập phần tử chứa là "tương đối" để dùng cho định vị tuyệt đối của phần con*/
    text-align: center; /*Căn giữa nội dung bên trong (ví dụ chữ) */
    color: #f0f8ff; /*  Màu chữ trắng xanh nhạt*/
  }

  .img-banner > img {
    height: 60vh; /*Chiều cao của ảnh bằng 60% chiều cao của màn hình */ 
  }

  #banner{
    position: absolute; /*  Định vị tuyệt đối so với phần tử cha đã có position: relative*/
    top: 30%; /*Đẩy xuống 30% chiều cao của container */
    left: 40%; /*Căn từ trái sang 40% */
    transform: -50%, -50%;
  }


  #nav-bar .container {
    display: flex;
    align-items: center; /*Căn giữa theo trục dọc */
    align-content: center;
    justify-content: center; /*Căn giữa theo trục ngang */
    gap: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid #e3d5d5;
  }

  .avatar {
    border: 5px solid #d6c8c8;
    border-radius: 50%; /*Làm ảnh tròn */ 
    width: auto;
    height: 60px;
  }

  /* nghề nghiệp - thông tin */
  #about {
    padding-top: 30px;
  }

  #about .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    margin: 0px 30px; /*Lề trái/phải 30px */
    background-color: #edf1f1;
  }


  .info li{
    list-style: none;;
  }

  ul {
    padding-left: 0px;
  }

  /* CV */
  #job-info .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%; /*Chiếm toàn bộ chiều rộng */
    gap: 30px;
  }

  .obc {
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: 75%, 25%; /*2 cột: nội dung + icon */ 
  }

  .grid i {
    font-size: 50px;
  }

  .border-1 {
    padding: 20px;
    border-style: ridge; /*Viền gờ nổi */
  }

  .border-1 h3 {
    margin-top: 30px;
  }

  .timeline {
    font-style: italic;
  }

  .timeline span {
    background-color: #14cada;
    color:aliceblue;
    border: 5px solid #14cada;
    border-radius: 20px;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: auto auto;
    text-align: center;
    gap: 10px;
  }

  .grid-2 i {
    border: 2px solid #14cada;
    border-radius: 50%;
    font-size: 30px;
    padding: 20px 10px 10px 10px;
  }

  .score-blue {
    background: #14cada;
    display: inline-block;
    height: 4px;
    border-radius: 20%;
    margin-right: 10px;
    width: 40px;
  }

  .score-grey {
    background: #bac4c5;
    display: inline-block;
    height: 4px;
    border-radius: 20%;
    margin-right: 10px;
    width: 45px;
  }

  /* chứng chỉ */
  
  .certificates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
  }

  .certificate-item {
    display: grid;
    grid-template-columns: 200px 1fr;
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #f9f9f9;
    /*text-align: center;*/
  }

  .certificate-item img {
    width: 200px;
    margin-bottom: 10px;
  }

  .certificate-item p {
    font-weight: bold;
    margin: 10px 0 5px 0;
  }

  .certificate-item ul {
    list-style: none;
  }


  /* Dự án  */
  .jga {
    border:0.5px   solid#ded4d4;
  }

  .list-card {
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    */
    display: flex;
    margin: 10px;
    gap: 30px;
  }

  .item-card, img {
    border: 1px solid #e6dede;
    width: 100%;
    height: auto;
  }

  .item ul{
    /*display: grid;
    grid-template-columns: repeat(3, 1fr);
    */
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-top: 0.5px solid #b1a7a7;
    padding: 10px 0px;
  }
  .item .blue{
    background-color: #14cada;
    width: 40px;
    border: 5px solid #14cada;
    border-radius: 10px;
  }

  .card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 0.5px solid #9ca29d;
    border-bottom: 0.5px solid #b0b9b2;
  } 

  .job-item {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .job-item i {
    background-color: #14cada;
    color: white;
    width: 40px;
    border: 5px solid #14cada;
    border-radius: 10px;
  }

  .job-item p {
    display: inline-block;
    margin-top: 20px;
  }

  /* ẩn thông tin */
  .hidden {
    display: none;
  }
  .btn {
    color: #e2f2f4;
    background-color:#14cada;
  }



/*View more button*/
#viewMoreBtn {
  display: none;
  background-color: khaki;
}

.flux:hover  #viewMoreBtn {
  display: block;
}



.section-exp:hover #viewMoreBtn {
  display: inline-block;
}

.section-edu:hover #viewMoreBtn {
  display: inline-block;
}

.section-act:hover #viewMoreBtn {
  display: inline-block;
}

.section-hobby:hover #viewMoreBtn {
  display: inline-block;
}

.section-lang:hover #viewMoreBtn {
  display: inline-block;
}

.section-skill:hover #viewMoreBtn {
  display: inline-block;
}

#viewMoreBtn::before {
  content: "\25BC"; /* Mã Unicode cho biểu tượng tam giác đen */
  margin-right: 5px; /* Khoảng cách giữa biểu tượng và văn bản */
  color: rgba(0, 0, 0, 0.799); /* Màu sắc của biểu tượng */
  font-size: 10px;
}
